.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #2774e7;
  border: black;
  border : solid;
 
  height: 800px;
}

.btn {
  background-color:black;
  color: whitesmoke;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 12px;
  cursor: pointer;
  align-items: right;
  justify-content: right;
  margin-left: 20px;
}

.btn:hover {
  background-color:rgb(73, 71, 71);
}

.box1 {
  font-size: 18px;
  padding: 12px;
  height: 15px;
  width: 30%;
  border-color: black;
  border: solid;
  align-items: right;
  justify-content: right;
}


.box2[as="textarea"] {
  height: 120px;
}

.group {
  margin: 20px 0px 0px 20px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}



.App {
  text-align: left;
}

.app-image {
  width: 540px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  background-image: url("../public/computer.jpg");
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: left; /* Center the image within the div */
  margin: 0 auto; /* Center the div horizontally */
  margin-left: 20px;
}

.btn2 {
  background-color:black;
  color: whitesmoke;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color:rgb(73, 71, 71);
  
}

.box2 {
  font-size: 18px;
  padding: 12px;
  height: 70px;
  width: 30%;
  border-color: black;
  border: solid;
  align-items: right;
  justify-content: right;
}
